<p id="notice"><%= notice %></p>

<h1>Dois</h1>

<table>
  <thead>
    <tr>
      <th>Doidate</th>
      <th>Animal</th>
      <th>Disease</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dois.each do |doi| %>
      <tr>
        <td><%= doi.doidate %></td>
        <td><%= doi.animal_id %></td>
        <td><%= doi.disease_id %></td>
        <td><%= link_to 'Show', doi %></td>
        <td><%= link_to 'Edit', edit_doi_path(doi) %></td>
        <td><%= link_to 'Destroy', doi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doi', new_doi_path %>
