<!DOCTYPE html>
<html>
  <head>
    <title>Petappf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Welcome to the Pet App!</h1>
  <h2>Contact us at +10900900808</h2>
    <%= yield %>
  </body>
</html>
